<footer class="bg-dark text-light mt-5 py-4">
    <div class="container text-center">
        <p class="mb-1">&copy; <%= new Date().getFullYear() %> MiniReddit. All rights reserved.</p>
        <p class="small mb-3">A mini project built with <span class="text-danger">❤</span> using Express & EJS.</p>
        
        <div>
            <a href="/" class="text-light mx-2">Home</a> |
            <a href="/r/chickens" class="text-light mx-2">Chickens</a> |
            <a href="/r/soccer" class="text-light mx-2">Soccer</a> |
            <a href="/r/movies" class="text-light mx-2">Movies</a> |
            <a href="/r/mightyharvest" class="text-light mx-2">Mighty Harvest</a> |
            <a href="/r/technology" class="text-light mx-2">Technology</a> |
            <a href="/r/programming" class="text-light mx-2">Programming</a>
        </div>
    </div>
</footer>
</body>
</html>
